
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    body {
        background-color: CadetBlue;
    }

    h1 {
        font-size: 350%;
        font-weight: bold;
        color: white;
        text-align: center;
        padding-top: 100px;
    }
</style>

<h1>Pay, invest, save <br /> your cash with <br /> a  single bank .</h1>


